.blog-card {
  width: 400px;
  border-radius: 12px;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;

  :global {
    .ant-card-body {
      padding: 12px;
    }
  }

  .title-time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
      max-width: calc(100% - 100px);
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .blog-tag {
    border-radius: 12px;
  }
}

@media screen and (max-width: 600px) {
  .blog-card {
    width: 300px;
    margin-right: 0;
  }   
}
