.blog-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  margin: 50px;
}
@media screen and (max-width: 600px) {
  .blog-list {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}
.total-box {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 1px solid #434343;
  border-radius: 2px;
  text-align: center;
}
.pagination {
  text-align: center;
}